CompileFlags:
  CompilationDatabase: .zig-cache

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - cert-*
      - clang-analyzer-*
      - performance-*
      - portability-*
      - modernize-*
      - readability-*
      - google-*
      - misc-*
      - misc-const-correctness
    Remove:
      - readability-braces-around-statements
      - readability-identifier-length
      - bugprone-assignment-in-if-condition
      - google-readability-braces-around-statements
